fastapi
fastapi-cli #! apparently useful
asyncpg #async psycopg
tortoise-orm # async orm
dotenv
Faker
uvicorn
passlib[bcrypt]
python-jose[cryptography]
pydantic[email] #for validation and type enforcement
aerich #for db migrations
pytest
pytest-asyncio #for testing async views (probably)
httpx  #for async (probably)