fastapi
fastapi-cli #! apparently useful
uvicorn
# DB
asyncpg #async psycopg
tortoise-orm # async orm
tomlkit
aerich #for db migrations
# SECURITY
python-jose[cryptography]
# passlib[bcrypt]
argon2-cffi
# CONFIG
pydantic[email] #for validation and type enforcement
python-dotenv>=1
Faker
httpx  #for async (probably)
# TESTING
pytest-asyncio #for testing async views (probably)
pytest
# EVENT
aiokafka